*~
*.tar.gz
*.tar.bz2
*.done
*.log
bootstrap/crosstool-ng*
bootstrap/build*
bootstrap/src
bootstrap/x-tools
bootstrap/kconfig
bootstrap/config*
bootstrap/.config.*
sysroot
termapk/gen
termapk/bin
termapk/assets/busybox*
termapk/assets/system*
